#footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    background-color: black;
    color: white;
    text-align: center;
    display: table;
}
#copyright{
    display:table-cell;
    vertical-align:middle;
}