@font-face { font-family: KillerBoots; src: url('../../assets/fonts/KILLERBOOTS.TTF'); } 

#Banner{
    top: 0;
    position: absolute;
    background-color: black;
    width: 100%;
    text-align: center;
}
#RightBanner{
    display: inline-block;
    text-align: right;
    width: 50%;
}
#LeftBanner{
    display: inline-block;
    width: 40%;
}
#logo{
    float: left;
    color: white;
    margin-top: 10px;
    width: 100px;
}
.banner_buttons{
    color: white;
    font-family: KillerBoots;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}