<div id = "navBar">
    <div id = "logo">
        <img id = "logoImg" src="../assets/images/logo.png" alt="logo">
    </div>
    <div id = "navButtons">
        <a class = "nav-item-button" routerLink= "/">Home</a>
        <a class = "nav-item-button" routerLink= "/songs">Songs</a>
        <a class = "nav-item-button" routerLink= "/">Photos</a>
        <a class = "nav-item-button" routerLink= "/">Contact</a>
    </div>
</div>
<div class = "margin-8" id = "mainContent">
    <router-outlet></router-outlet>
</div>